@using Microsoft.AspNetCore.Http
<!doctype html>
<html>
<head>
    <script src="~/js/GuestBook.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <a href="@Url.Action("Index","Home")">Anasayfa</a> -
        <a href="@Url.Action("Index","GuestBook")">Ziyaretçi Defteri</a> -
        @{
            if (Context.Session.GetInt32("userId") != null)
            {
                <a href="@Url.Action("AdminDashboard","GuestBook")">Yönetim</a>
            }
            else
            {
                <a href="@Url.Action("Manage","GuestBook")">Giriş Yap</a>
            }
        }
    </div>
    @RenderBody()
</body>
</html>